dash==2.11.1
numpy==1.25.0
plotly==5.15.0
dash-bootstrap-components==1.2.1
ipykernel
pandas
nbformat>=4.2.0
jax==0.4.13
jaxlib==0.4.13
jaxtyping==0.2.20
typeguard==2.13.3
PyYAML==6.0
Pillow==9.5.0
pre-commit==3.3.3
